.containerValueSubtraction {
    width: 326px;
    margin: 25px auto 0;
    display: flex;
    flex-direction: column;
}

.containerValueSubtraction h1 {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
}

.containerValueSubtraction input {
    width: 326px;
    height: 58px;
    margin-bottom: 13px;
    padding-left: 15px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.containerValueSubtraction input::placeholder {
    color: #000000;
}

.containerValueSubtraction button {
    width: 326px;
    height: 46px;
    margin-bottom: 36px;
    background: #A328D6;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}