.record{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.record .record-together{
    width: 200px;
    display: flex;
}

.record .description-record-day {
    padding-right: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C6C6C6;
}

.record .description-record {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}