* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8C11BE;
    font-family: 'Raleway', sans-serif;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:active {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}